@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* Root Variables */
:root {
  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);

  /* Primary Colors */
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);

  /* Typography */
  --font-young-serif: "Young Serif";
  --font-outfit: "Outfit";
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-size: 16px;
  /* --font-size: clamp(12px, 3.5vw, 14px); */
}

/* Styling Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

/* General Styling */
html {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--off-black);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
